In [ ]:
import os
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from numpy.random import seed
from sklearn.preprocessing import minmax_scale
from sklearn.model_selection import train_test_split
from keras.layers import Input, Dense
from keras.models import Model
import warnings
warnings.filterwarnings("ignore")

In [ ]:
test = pd.read_csv('test_encoded.csv')
train = pd.read_csv('train_encoded.csv')

In [ ]:
target = train['target']
#train_id = train['ID']
#test_id = test['ID']

train.drop(['target'], axis=1, inplace=True)
#train.drop(['ID'], axis=1, inplace=True)
#test.drop(['ID'], axis=1, inplace=True)

In [ ]:
print('Train data shape', train.shape)
print('Test data shape', test.shape)

Train data shape (4459, 200)
Test data shape (4000, 200)

In [ ]:
train_scaled = minmax_scale(train, axis = 0)
test_scaled = minmax_scale(test, axis = 0)

#Auto Encoder

In [ ]:
# define the number of features
ncol = train_scaled.shape[1]

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(train_scaled, target, train_size = 0.9, random_state = seed(2017))

In [ ]:
### Define the encoder dimension
encoding_dim = 200

In [ ]:
input_dim = Input(shape = (ncol, ))

# Encoder Layers
encoded1 = Dense(3000, activation = 'relu')(input_dim)
encoded2 = Dense(2750, activation = 'relu')(encoded1)
encoded3 = Dense(2500, activation = 'relu')(encoded2)
encoded4 = Dense(2250, activation = 'relu')(encoded3)
encoded5 = Dense(2000, activation = 'relu')(encoded4)
encoded6 = Dense(1750, activation = 'relu')(encoded5)
encoded7 = Dense(1500, activation = 'relu')(encoded6)
encoded8 = Dense(1250, activation = 'relu')(encoded7)
encoded9 = Dense(1000, activation = 'relu')(encoded8)
encoded10 = Dense(750, activation = 'relu')(encoded9)
encoded11 = Dense(500, activation = 'relu')(encoded10)
encoded12 = Dense(250, activation = 'relu')(encoded11)
encoded13 = Dense(encoding_dim, activation = 'relu')(encoded12)

In [ ]:
# Decoder Layers
decoded1 = Dense(250, activation = 'relu')(encoded13)
decoded2 = Dense(500, activation = 'relu')(decoded1)
decoded3 = Dense(750, activation = 'relu')(decoded2)
decoded4 = Dense(1000, activation = 'relu')(decoded3)
decoded5 = Dense(1250, activation = 'relu')(decoded4)
decoded6 = Dense(1500, activation = 'relu')(decoded5)
decoded7 = Dense(1750, activation = 'relu')(decoded6)
decoded8 = Dense(2000, activation = 'relu')(decoded7)
decoded9 = Dense(2250, activation = 'relu')(decoded8)
decoded10 = Dense(2500, activation = 'relu')(decoded9)
decoded11 = Dense(2750, activation = 'relu')(decoded10)
decoded12 = Dense(3000, activation = 'relu')(decoded11)
decoded13 = Dense(ncol, activation = 'sigmoid')(decoded12)

In [ ]:
# Combine Encoder and Deocder layers
autoencoder = Model(inputs = input_dim, outputs = decoded13)

In [ ]:
# Compile the Model
autoencoder.compile(optimizer = 'adadelta', loss = 'binary_crossentropy')

In [ ]:
autoencoder.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 200)]             0

 dense (Dense)               (None, 3000)              603000

 dense_1 (Dense)             (None, 2750)              8252750

 dense_2 (Dense)             (None, 2500)              6877500

 dense_3 (Dense)             (None, 2250)              5627250

 dense_4 (Dense)             (None, 2000)              4502000

 dense_5 (Dense)             (None, 1750)              3501750

 dense_6 (Dense)             (None, 1500)              2626500

 dense_7 (Dense)             (None, 1250)              1876250

 dense_8 (Dense)             (None, 1000)              1251000

 dense_9 (Dense)             (None, 750)               750750

 dense_10 (Dense)            (None, 500)               375500

 dense_11 (Dense)            (None, 250)               125250

 dense_12 (Dense)            (None, 200)               50200

 dense_13 (Dense)            (None, 250)               50250

 dense_14 (Dense)            (None, 500)               125500

 dense_15 (Dense)            (None, 750)               375750

 dense_16 (Dense)            (None, 1000)              751000

 dense_17 (Dense)            (None, 1250)              1251250

 dense_18 (Dense)            (None, 1500)              1876500

 dense_19 (Dense)            (None, 1750)              2626750

 dense_20 (Dense)            (None, 2000)              3502000

 dense_21 (Dense)            (None, 2250)              4502250

 dense_22 (Dense)            (None, 2500)              5627500

 dense_23 (Dense)            (None, 2750)              6877750

 dense_24 (Dense)            (None, 3000)              8253000

 dense_25 (Dense)            (None, 200)               600200

=================================================================
Total params: 72,839,400
Trainable params: 72,839,400
Non-trainable params: 0
_________________________________________________________________

In [ ]:
autoencoder.fit(X_train, X_train,batch_size = 32, shuffle = False, validation_data = (X_test, X_test))

126/126 [==============================] - 85s 662ms/step - loss: 0.6931 - val_loss: 0.6930

In [ ]:
encoder = Model(inputs = input_dim, outputs = encoded13)
encoded_input = Input(shape = (encoding_dim, ))

In [ ]:
encoded_train = pd.DataFrame(encoder.predict(train_scaled))
encoded_train = encoded_train.add_prefix('feature_')

encoded_test = pd.DataFrame(encoder.predict(test_scaled))
encoded_test = encoded_test.add_prefix('feature_')

In [ ]:
encoded_train['target'] = target

In [ ]:
print(encoded_train.shape)
encoded_train.head()

(4459, 201)

   feature_0  feature_1  feature_2  ...  feature_198  feature_199      target
0   0.003509        0.0   0.002897  ...          0.0     0.002775  38000000.0
1   0.003503        0.0   0.002900  ...          0.0     0.002803    600000.0
2   0.004314        0.0   0.002786  ...          0.0     0.005061  10000000.0
3   0.004298        0.0   0.002789  ...          0.0     0.005079   2000000.0
4   0.004771        0.0   0.002560  ...          0.0     0.003627  14400000.0

[5 rows x 201 columns]

In [ ]:
print(encoded_test.shape)
encoded_test.head()

(4000, 200)

   feature_0  feature_1  feature_2  ...  feature_197  feature_198  feature_199
0   0.001472        0.0   0.002182  ...     0.000000          0.0     0.002529
1   0.004820        0.0   0.002616  ...     0.000963          0.0     0.005188
2   0.005173        0.0   0.002409  ...     0.000974          0.0     0.003941
3   0.003497        0.0   0.002706  ...     0.000558          0.0     0.003024
4   0.004230        0.0   0.002594  ...     0.001062          0.0     0.003360

[5 rows x 200 columns]

In [ ]:
encoded_train.to_csv('train_encoded.csv', index=False)
encoded_test.to_csv('test_encoded.csv', index=False)